{{#each posts as |post| }}
<div>
  <div>
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Written by {{post.user.name}}</p>
  </div>
  <div>
    <p>
      {{post.body}}
    </p>
  </div>
</div>
{{/each}}
